<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клиент-Банк</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="modal-fon nodisplay"></div>

    <div class="header-container">
        <div class="header-button" id="home">Home</div>
        <div class="header-button" id="customers-b">Customers</div>
        <div class="header-button" id="account-b">Accounts</div>
        <div class="header-button">Employers</div>
        <div class="header-button">button</div>
    </div>

    <div class="modal-add-new nodisplay">
        <div class="cancel-add-new-customer">X</div>
        <input class="input-add-new-customer" id="newCName" type="text" placeholder="name">
        <input class="input-add-new-customer" id="newCMail" type="text" placeholder="email">
        <input class="input-add-new-customer" id="newCAge" type="text" placeholder="age">
        <div class="save-new-modal-button">SAVE</div>
    </div>

    <div class="choice home nodisplay">
        <div>HOME</div>
        <div></div>
    </div>

    <div class="choice Customers-plate nodisplay">
        <div class="cus-grid">
            <div class="addnew">+</div>
        </div>
    </div>

    <div class="choice Accounts-plate nodisplay">
        <div>ACCOUNT</div>
    </div>


    <script src="js/index.js"></script>
</body>
</html>